.navBar {
  background: #1d1d1d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list {
  list-style: none;
  padding: 0;
  width: 90%;
  text-align: center;
}

.listItem {
  padding: 5px 0;
  display: block;
  border-radius: 5px;
  transition: .2s;
}

.listItem:hover {
  background: gray;
}

.link {
  user-select: none;
  display: block;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.568);
}