.navBar {
  background: chartreuse;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list {
  list-style: none;
  padding: 0;
}

.listItem {
  margin-bottom: 10px;
}

.link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.63);
}

.link:hover {
  color: rgb(0, 0, 0);
}